* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #fff;
}

.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
}

.contenedor article {
	line-height: 28px;
}

.contenedor article h1 {
	font-size: 30px;
	text-align: left;
	padding: 50px 0;
}

.contenedor article p {
	margin-bottom: 20px;
}

.contenedor article .boton-abrir-popup {
	padding: 0 20px;
	margin-bottom: 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #5E7DE3;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
	cursor: pointer;
}

.contenedor article .boton-abrir-popup:hover {
	background: rgba(94, 125, 227, .9);
}

/* ------------------------- */
/* POPUP */
/* ------------------------- */

.overlay {
	background: rgba(0, 0, 0, .3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay.active {
	visibility: visible;
}

.popup {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;

	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup .boton-cerrar-popup {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup .boton-cerrar-popup:hover {
	color: #000;
}

.popup h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}

.popup form .contenedor-inputs {
	opacity: 0;
}

.popup form .contenedor-inputs input {
	width: 100%;
	margin-bottom: 20px;
	height: 52px;
	font-size: 18px;
	line-height: 52px;
	text-align: center;
	border: 1px solid #BBBBBB;
}

.popup form .btn-submit {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #dc3545;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
}

.popup form .btn-submit:hover {
	background: rgba(94, 125, 227, .9);
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active {
	transform: scale(1);
	opacity: 1;
}

.popup.active h3 {
	animation: entradaTitulo .8s ease .5s forwards;
}

.popup.active h4 {
	animation: entradaSubtitulo .8s ease .5s forwards;
}

.popup.active .contenedor-inputs {
	animation: entradaInputs 1s linear 1s forwards;
}

@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaInputs {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

section {
	padding: 2rem 7%;
}

.blogs .box-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
	gap: 1.5rem;
}

.blogs .box-container .box {
	border: var(--border);
}

.blogs .box-container .box .image {
	height: 25rem;
	overflow: hidden;
	width: 100%;
}

.blogs .box-container .box .image img {
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.blogs .box-container .box:hover .image img {
	transform: scale(1.2);
}

.blogs .box-container .box .content {
	padding: 2rem;
	text-align: justify;
}

.blogs .box-container .box .content .title {
	font-size: 2rem;
	line-height: 1.5;
	color: rgb(0, 0, 0);
}

.blogs .box-container .box .content .title:hover {
	color: var(--main-color);
}

.blogs .box-container .box .content span {
	color: var(--main-color);
	display: block;
	padding-top: 1rem;
	font-size: 2rem;
}

.blogs .box-container .box .content p {
	font-size: 1.6rem;
	line-height: 1.8;
	color: rgb(63, 62, 63);
	padding: 1rem 0;
}



.btn:hover {
	letter-spacing: .2rem;
}